# K8s environment configuration
RKE_NODE_USER_AND_HOSTNAME = <RKE_USER>@<RKE_IP>    # for example ubuntu@10.183.36.205
RKE_PRIVATE_KEY = <PEM_PRIVATE_KEY_FILE_PATH>       # for example ~/.ssh/onap-5802.pem
WORKER_IP = <ANY_WORKER_NODE_IP>                    # for example 10.183.39.145

# JMeter VM environment configuration
JMETER_VM_USER_AND_HOSTNAME = <RKE_USER>@<VM_IP>    # for example root@10.183.36.50
JMETER_VM_PRIVATE_KEY = <PEM_PRIVATE_KEY_FILE_PATH> # for example ~/.ssh/onap-5802.pem

# Test scenario to run
TEST_SCENARIO_FILE = test_scenario.jmx              # see performanceTests/environment/jmeterVM/jmeter for other scenarios