<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO">

  <Appenders>

    <Console name="CONSOLE" target="SYSTEM_OUT" >
      <LevelRangeFilter maxLevel="INFO" minLevel="ERROR"/>
      <PatternLayout
        pattern="%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} %highlight{${LOG_LEVEL_PATTERN:-%5p}}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green, DEBUG=green bold, TRACE=blue} %style{${sys:PID}}{magenta} [%15.15t] %style{%-40.40C{1.}}{cyan} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>
    </Console>

    <RollingFile fileName="logs/collector.log" filePattern="logs/collector-%d{yyyy-MM-dd}-%i.log" name="ROL_CONSOLE">
      <LevelRangeFilter maxLevel="INFO" minLevel="ERROR"/>
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="64 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingFile>

    <RollingFile fileName="logs/input.log" filePattern="logs/input-%d{yyyy-MM-dd}-%i.log" name="IFILE">
      <LevelRangeFilter maxLevel="INFO" minLevel="INFO"/>
      <PatternLayout pattern="[%d{ISO8601}][%-5p][%-10t][%-5c]%m%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="32 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingFile>

    <RollingFile fileName="logs/output.log" filePattern="logs/output-%d{yyyy-MM-dd}-%i.log" name="OFILE">
      <LevelRangeFilter maxLevel="INFO" minLevel="INFO"/>
      <PatternLayout pattern="[%d{ISO8601}][%-5p][%-10t][%-5c]%m%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="32 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingFile>

    <RollingFile fileName="logs/error.log" filePattern="logs/error-%d{yyyy-MM-dd}-%i.log" name="EFILE">
      <LevelRangeFilter maxLevel="INFO" minLevel="INFO"/>
      <PatternLayout pattern="[%d{ISO8601}][%-5p][%-10t][%-5c]%m%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="64 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingFile>

    <RollingFile fileName="logs/eelf/audit.log" filePattern="logs/eelf/audit-%d{yyyy-MM-dd}-%i.log" name="EELF_AUDIT">
      <LevelRangeFilter maxLevel="DEBUG" minLevel="INFO"/>
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="64 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="20"/>
    </RollingFile>

    <RollingFile fileName="logs/eelf/metric.log" filePattern="logs/eelf/metric-%d{yyyy-MM-dd}-%i.log" name="EELF_METRIC">
      <LevelRangeFilter maxLevel="INFO" minLevel="INFO"/>
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="64 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="20"/>
    </RollingFile>


    <RollingFile fileName="logs/eelf/error.log" filePattern="logs/eelf/error-%d{yyyy-MM-dd}-%i.log" name="EELF_ERROR">
      <LevelRangeFilter maxLevel="WARN" minLevel="WARN"/>
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="64 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="20"/>
    </RollingFile>


    <RollingFile fileName="logs/eelf/debug.log" filePattern="logs/eelf/debug-%d{yyyy-MM-dd}-%i.log" name="EELF_DEBUG">
      <LevelRangeFilter maxLevel="DEBUG" minLevel="DEBUG"/>
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="64 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="20"/>
    </RollingFile>

  </Appenders>

  <Loggers>

    <Logger additivity="false" level="info" name="org.onap.dcae.common.input">
      <AppenderRef ref="IFILE"/>
    </Logger>

    <Logger additivity="false" level="info" name="org.onap.dcae.common.output">
      <AppenderRef ref="CONSOLE"/>
      <AppenderRef ref="OFILE"/>
    </Logger>

    <Logger additivity="false" level="debug" name="org.onap.dcae.common.error">
      <AppenderRef ref="EFILE"/>
      <AppenderRef ref="CONSOLE"/>
      <AppenderRef ref="EELF_ERROR"/>
    </Logger>

    <!--NOT USED-->
    <Logger additivity="false" level="info" name="com.att.ecomp.audit">
      <AppenderRef ref="CONSOLE"/>
      <AppenderRef ref="EELF_AUDIT"/>
    </Logger>

    <Logger additivity="false" level="info" name="com.att.ecomp.metrics">
      <AppenderRef ref="EELF_METRIC"/>
    </Logger>

    <!--NOT USED-->
    <Logger additivity="false" level="info" name="com.att.ecomp.error">
      <AppenderRef ref="EELF_ERROR"/>
    </Logger>

    <!--NOT USED-->
    <Logger additivity="false" level="info" name="com.att.ecomp.debug">
      <AppenderRef ref="EELF_DEBUG"/>
    </Logger>

    <!--NOT USED-->
    <Logger additivity="false" level="debug" name="org.onap.dcae.common.EventPublisher">
      <AppenderRef ref="CONSOLE"/>
    </Logger>

    <!--NOT USED-->
    <Logger additivity="false" level="info" name="com.att.nsa.apiClient.http.HttpClient">
      <AppenderRef ref="CONSOLE"/>
    </Logger>

    <!--NOT USED-->
    <Logger additivity="false" level="info"
      name="com.att.nsa.cambria.client.impl.CambriaSimplerBatchPublisher">
      <AppenderRef ref="CONSOLE"/>
    </Logger>

    <Root additivity="false" level="debug">
      <AppenderRef ref="CONSOLE"/>
      <AppenderRef ref="ROL_CONSOLE"/>
      <AppenderRef ref="EELF_AUDIT"/>
      <AppenderRef ref="EELF_DEBUG"/>
      <AppenderRef ref="EELF_ERROR"/>
    </Root>

  </Loggers>

</Configuration>
