<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!--
================================================================================
Copyright (c) 2017-2018 AT&T Intellectual Property. All rights reserved.
================================================================================
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
============LICENSE_END=========================================================

ECOMP is a trademark and service mark of AT&T Intellectual Property.
-->


<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="threshold" value="INFO" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{ISO8601}][%-5p][%-10t][%c] - %m%n"/>
		</layout>
	</appender>

	<appender name="IFILE" class="org.apache.log4j.RollingFileAppender">
		<param name="threshold" value="INFO" />
		<param name="File" value="logs/input.log" />
		<param name="MaxFileSize" value="32MB"/>
		<param name="MaxBackupIndex" value="10"/>
		<layout class="org.apache.log4j.PatternLayout">
			<!-- param name="ConversionPattern" value="[%d{ABSOLUTE}][%-5p][%-10t][%-5c][%4L]%m%n" / -->
			<param name="ConversionPattern" value="[%d{ISO8601}][%-5p][%-10t][%-5c]%m%n" />
		</layout>
	</appender>

	<appender name="OFILE" class="org.apache.log4j.RollingFileAppender">
		<param name="threshold" value="INFO" />
		<param name="File" value="logs/output.log" />
		<param name="MaxFileSize" value="32MB"/>
		<param name="MaxBackupIndex" value="10"/>
		<layout class="org.apache.log4j.PatternLayout">
			<!-- param name="ConversionPattern" value="[%d{ABSOLUTE}][%-5p][%-10t][%-5c][%4L]%m%n" / -->
			<param name="ConversionPattern" value="[%d{ISO8601}][%-5p][%-10t][%-5c]%m%n" />
		</layout>
	</appender>

	<appender name="EFILE" class="org.apache.log4j.RollingFileAppender">
		<param name="threshold" value="INFO" />
		<param name="File" value="logs/error.log" />
		<param name="MaxFileSize" value="32MB"/>
		<param name="MaxBackupIndex" value="5"/>
		<layout class="org.apache.log4j.PatternLayout">
			<!-- param name="ConversionPattern" value="[%d{ABSOLUTE}][%-5p][%-10t][%-5c][%4L]%m%n" / -->
			<param name="ConversionPattern" value="[%d{ISO8601}][%-5p][%-10t][%-5c]%m%n" />
		</layout>
	</appender>

	<!--
		ECOMP logging setup
	
		NOTES:
		
		1. files are written to "./logs/<filename>". You must setup the environment
			so that ./logs is a symlink to the correct location according to the ECOMP
			log standard. For example, "/opt/logs/DCAE/highlandParkVcScope". If that's
			not possible, change the File setting in each appender appropriately.
	  -->

	<appender name="ECOMP_AUDIT" class="org.apache.log4j.RollingFileAppender">
		<param name="threshold" value="DEBUG" />
		<param name="File" value="./logs/ecomp/audit.log" />
		<param name="MaxFileSize" value="128MB"/>
		<param name="MaxBackupIndex" value="20"/>
		<layout class="com.att.nsa.logging.log4j.EcompLayout"><param name="ConversionPattern" value="ECOMP_AUDIT" /></layout>
	</appender>

	<appender name="ECOMP_METRIC" class="org.apache.log4j.RollingFileAppender">
		<param name="threshold" value="INFO" />
		<param name="File" value="./logs/ecomp/metric.log" />
		<param name="MaxFileSize" value="128MB"/>
		<param name="MaxBackupIndex" value="10"/>
		<layout class="com.att.nsa.logging.log4j.EcompLayout"><param name="ConversionPattern" value="ECOMP_METRIC" /></layout>
	</appender>

	<appender name="ECOMP_ERROR" class="org.apache.log4j.RollingFileAppender">
		<param name="threshold" value="WARN" />	<!-- only WARN and ERROR are allowed in this log -->
		<param name="File" value="./logs/ecomp/error.log" />
		<param name="MaxFileSize" value="128MB"/>
		<param name="MaxBackupIndex" value="10"/>
		<layout class="com.att.nsa.logging.log4j.EcompLayout"><param name="ConversionPattern" value="ECOMP_ERROR" /></layout>
	</appender>

	<appender name="ECOMP_DEBUG" class="org.apache.log4j.RollingFileAppender">
		<param name="threshold" value="DEBUG" />
		<param name="File" value="./logs/ecomp/debug.log" />
		<param name="MaxFileSize" value="128MB"/>
		<param name="MaxBackupIndex" value="20"/>
		<layout class="com.att.nsa.logging.log4j.EcompLayout"><param name="ConversionPattern" value="ECOMP_DEBUG" /></layout>
	</appender>
	
	<logger name="org.onap.dcae.commonFunction.input" additivity="false">
            <level value="INFO"/>
            <appender-ref ref="IFILE"/>
    </logger> 

    <logger name="org.onap.dcae.commonFunction.output" additivity="false">
            <level value="INFO"/>
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="OFILE"/>
    </logger> 

	<logger name="org.onap.dcae.commonFunction.error" additivity="false">
            <level value="DEBUG"/>
            <appender-ref ref="EFILE"/>
            <appender-ref ref="CONSOLE" />
			<appender-ref ref="ECOMP_ERROR" />
    </logger>
    
    	<!--
		The ECOMP logging standard has four specific classes of logging that are 
		unrelated to subsystem logger names. If you want them activated, uncomment
		this block.
	-->
	<logger name="com.att.ecomp.audit" additivity="false">
		<level value="info"/>
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="ECOMP_AUDIT" />
	</logger>

	<logger name="com.att.ecomp.metrics" additivity="false">
		<level value="info"/>
		<appender-ref ref="ECOMP_METRIC" />
	</logger>

	<logger name="com.att.ecomp.error" additivity="false">
		<level value="info"/>
		<appender-ref ref="ECOMP_ERROR" />
	</logger>

	<logger name="com.att.ecomp.debug" additivity="false">
		<level value="info"/>
		<appender-ref ref="ECOMP_DEBUG" />
	</logger>
    
    <logger name="org.onap.dcae.commonFunction.EventPublisher" additivity="false">
		<level value="debug"/>
		<appender-ref ref="CONSOLE" />
	</logger>
    
	<logger name="com.att.nsa.apiClient.http.HttpClient" additivity="false">
		<level value="info"/>
		<appender-ref ref="CONSOLE" />
	</logger>
    
    <logger name="com.att.nsa.cambria.client.impl.CambriaSimplerBatchPublisher" additivity="false">
		<level value="info"/>
		<appender-ref ref="CONSOLE" />
	</logger>
	
	<root>
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="ECOMP_AUDIT" />
		<appender-ref ref="ECOMP_DEBUG" />
		<appender-ref ref="ECOMP_ERROR" />
	</root>
	
</log4j:configuration>
